.postPreview{
	border: solid 1px black;
	margin: 20px;
	padding: 10px;
	float: left;
	color: black;
	text-align: center;
	width: 150px;
	height: 150px;
}

.postPreview:hover{
	cursor: pointer;
}

.postPreview img{
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
}

.hometitle{
	color: black;
	text-decoration-line: none;
}

[name="navigation"]{
	color: black;
}

.navigation{
	color: black;
}